@import "../../variables.module.scss";

.navbarMobile {
  nav {
    transition: all 0.3s ease;
    position: absolute;
    background-color: $oak;
    height: 90vh;
    li {
      text-align: center;
      width: 100%;
      color: $ambar;
      padding: 15px;
      font-size: 16px;
      font-weight: 900;
      list-style: none;
      cursor: pointer;
      &:hover {
        background-color: $ambar;
        color: $oak;
      }
      a {
        display: block;
        width: 100%;
      }
    }
    .rrss {
      display: flex;
      padding-top: 50vh;
      justify-content: space-evenly;
      bottom: 10vh;
      background-color: $oak;
      .rrssIcon {
        color: $ambar;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .closedMenu {
    right: -200px;
  }
  .openMenu {
    right: 0px;
  }
}
