@import "../../variables.module.scss";

.copyright {
  background-color: $black;
  width: 100vw;
  padding: 20px;
  color: white;
  font-size: 12px;
display: flex;
justify-content: center;

  a {
    margin-bottom: 20px;

    .copy {
      width: 260px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .copyright {
    padding: 20px 60px;
    color: white;
    font-size: 14px;
    text-align: left;
  }
}

@media screen and (min-width: 1600px) {
  .copyright {
    padding: 20px 120px;
  }
}