.footer {
  background-color: #1e1e1e;
}

@media screen and (min-width: 1200px) {
  .footer {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 240px;
    }
  }
}
@media screen and (min-width: 1600px) {
  .footer {
    .container {
      padding: 60px 240px;
    }
  }
}
