@import "../../variables.module.scss";

.infoContainer {
  padding: 20px;

  .info {
    margin-top: 20px;

    div {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $white;

      .icon {
        height: 16px;
      }

      p {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  .rrss {
    margin-top: 40px;

    a {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $white;

      .rrssIcon {
        height: 24px;
      }

      p {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .rrssInstagram {
      transition: all 300ms ease-in-out;

      &:hover {
        color: $instagram;
      }
    }

    .rrssYoutube {
      transition: all 300ms ease-in-out;

      &:hover {
        color: $youtube;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .infoContainer {
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .infoDiv {
      display: flex;
      margin-top: 20px;

      .info {
        margin: 0 100px 0 0;
      }

      .rrss {
        margin: 0 50px;

        p {
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .infoContainer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .infoDiv {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 20px;

      .info {
        margin: 30px 100px 0 0;

        p {
          font-size: 16px;
        }
      }

      .rrss {
        margin: 30px 0 0 0;
        font-size: 20px;

        p {
          font-size: 18px;
        }
      }
    }
  }
}

