@import "../../variables.module.scss";

.infoContainer {
  padding: 0 16px;
  .info {
    margin-top: 20px;
    div {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $white;
      .icon {
        height: 16px;
      }
      p {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
  .rrss {
    margin-top: 40px;
    a {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $white;
      &:hover {
        color: $teal-highlight;
      }
      .rrssIcon {
        height: 24px;
      }
      p {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .infoContainer {
    padding: 40px 60px;
  }
}
