@import "../../variables.module.scss";

.teamCard {
  width: 213px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  padding-top: 20px;
  margin: 70px 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3),
    0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  color: $white;
  text-align: center;
  img {
    border-radius: 50%;
  }
  .desktopPic {
    display: none;
  }
  h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 900;
  }
  p {
    font-size: 12px;
    font-weight: 500;
    height: 75px;
    width: 132px;
  }
}

@media screen and (min-width: 1200px) {
  .teamCard {
    width: 320px;
    height: 420px;
    padding-top: 40px;
    margin: 120px 0;
    .mobilePic {
      display: none;
    }
    .desktopPic {
      display: block;
    }
    h3 {
      margin: 30px 0;
      font-size: 18px;
    }
    p {
      font-size: 16px;
      height: 75px;
      width: 283px;
    }
  }
}
