@import "../../variables.module.scss";

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: $ambar;
  height: 92vh;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 36px;
      width: 259px;
      margin-bottom: 22px;
      font-family: "Sora", sans-serif;
      text-align: center;
    }

    p {
      text-align: center;
      padding-top: 22px;
      width: 230px;
      font-size: 18px;
    }
  }

  .heroImageMobile {
    position: absolute;
    bottom: 4vh;
    opacity: 10%;
    width: 328;
    height: 288;
  }

  .heroImageTablet {
    display: none;
  }

  .heroImageDesktop {
    display: none;
  }
}

.white {
  color: $white;
  font-weight: 900;
}

.red {
  color: $red;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .cover {
    padding-top: 40px;
    height: 91vh;

    .heroImageMobile {
      display: none;
    }

    .heroImageTablet {
      display: block;
      position: absolute;
      bottom: 4vh;
      opacity: 10%;
      width: 656;
      height: 576;
    }
  }
}

@media screen and (min-width: 1200px) {
  .cover {
    height: fit-content;
    padding: 60px 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $ambar;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;

      h2 {
        font-size: 60px;
        width: 500px;
        height: 138px;
        font-family: "Sora", sans-serif;
        text-align: left;
      }

      p {
        text-align: justify;
        width: 376px;
        font-size: 18px;
      }
    }

    .heroImageTablet {
      display: none;
    }

    .heroImageDesktop {
      display: block;
      position: relative;
      margin-bottom: 5vh;
      opacity: 100%;
      align-self: flex-end;
      width: 442px;
      height: 388px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .cover {
    height: 90.5vh;
    .heroImageTablet {
      display: block;
      position: relative;
      margin-bottom: 3vh;
      opacity: 100%;
      align-self: flex-end;
      margin-left: 5vw;
    }

    .heroImageDesktop {
      display: none;
    }
  }
}