.waIconContainer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  transition: all 300ms ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) {
  .waIconContainer {
    position: fixed;
    right: 25px;
    bottom: 25px;
  }
}