@import "../../variables.module.scss";

.session {
  background-color: $ambar;
  width: 100vw;

  article {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 24px;
      a{
        font-size: 16px;
        font-weight: 700;
        color: $oak;
      }
    }
    a{
      font-size: 16px;
      font-weight: 700;
      color:$teal ;
    }
  }
}

@media screen and (min-width: 768px) {
  .session {
    article {
      padding: 40px 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .session {
    article {
      padding: 30px 120px;
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;        
        margin-top: 20px;
        p {
          font-size: 16px;
          width: 500px;
        }
      }
      .illustration{
        width: 30vw;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .session {
    article {
      padding: 60px 300px;
      padding-bottom: 0;
    }
  }
}
