@import "../../variables.module.scss";

.recordingStudio {
  background-color: $teal;
  width: 100vw;

  article {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 24px;
    }

    .phrase {
      height: 74px;
      display: flex;
      justify-content: center;
      .quotesUpMobile {
        align-self: self-start;
      }
      .quotesUpDesktop {
        display: none;
        align-self: self-start;
      }
      h4 {
        width: 160px;
        margin: 0 10px;
        font-family: "Sora", sans-serif;
        font-size: 26px;
        span {
          color: $white;
        }
      }
      .quotesDownMobile {
        align-self: self-end;
      }
      .quotesDownDesktop {
        display: none;
        align-self: self-end;
      }
    }
    iframe {
      margin-top: 30px;
      border-radius: 4px;
    }
  }
}

@media screen and (min-width: 768px) {
  .recordingStudio {
    article {
      padding: 40px 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .recordingStudio {
    article {
      height: calc(90vh - 60px);
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;
      .rscontainer {
        display: flex;
        flex-direction: column-reverse;
        p {
          font-size: 16px;
          width: 450px;
        }
        .phrase {
          height: 140px;
          align-items: center;
          justify-content: center;
          margin-bottom: 40px;
          .quotesUpMobile {
            display: none;
          }
          .quotesUpDesktop {
            display: block;
          }
          h4 {
            width: 300px;
            margin: 0 20px;
            font-size: 50px;
            text-align: center;
          }
          .quotesDownMobile {
            display: none;
          }
          .quotesDownDesktop {
            display: block;
          }
        }
      }
      iframe {
        margin-top: 0;
        margin-left: 10vw;
        width: 500px;
        height: 550px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .musicProd {
    article {
      padding: 60px 300px;
      p {
        font-size: 16px;
        width: 450px;
        margin-bottom: 48px;
      }
    }
  }
}
