.carouselContainer {
  .sliderDesktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .carouselContainer {
    .sliderMobile {
      display: none;
    }
    .sliderDesktop {
      display: block;
    }
  }
}
