@import "../../variables.module.scss";

.musicProd {
  background-color: $teal;
  width: 100vw;
  article {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 24px;
    }
    .phrase {
      height: 74px;
      display: flex;
      justify-content: center;
      .quotesUpMobile {
        align-self: self-start;
      }
      .quotesUpDesktop {
        display: none;
        align-self: self-start;
      }
      h4 {
        width: 160px;
        margin: 0 10px;
        font-family: "Sora", sans-serif;
        font-size: 26px;
        span {
          color: $white;
        }
      }
      .quotesDownMobile {
        align-self: self-end;
      }
      .quotesDownDesktop {
        display: none;
        align-self: self-end;
      }
    }
    .illustration {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .musicProd {
    article {
      padding: 40px 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .musicProd {
    article {
      height: calc(90vh - 60px);
      width: 100vw;
      padding: 0px;
      display: flex;
      flex-direction:row-reverse;
      justify-content: space-around;
     
      text-align: left;
      p {
        font-size: 16px;
        width: 450px;
      }
      .phrase {
        margin-top: 40px;
        height: 140px;
        .quotesUpMobile {
          display: none;
        }
        .quotesUpDesktop {
          display: block;
        }
        h4 {
          width: 300px;
          margin: 0 20px;
          font-size: 50px;
        }
        .quotesDownMobile {
          display: none;
        }
        .quotesDownDesktop {
          display: block;
        }
      }
      .illustration {
        display: block;
        width: 30vw;
        align-self: center;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .musicProd {
    article {
      padding: 60px 300px;
      p {
        font-size: 16px;
        width: 450px;
        margin-bottom: 48px;
      }
    }
  }
}
