@import "../../variables.module.scss";

.testimonials {
  width: 100vw;
  background-image: url("/bg-images/bg-testimonials-mobile.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 420px) {
  .testimonials {
    background-image: url("/bg-images/bg-testimonials.jpg");
  }
}
